@inherits LayoutComponentBase

<PageTitle>KInspector</PageTitle>

<div class="page h-screen w-full overflow-hidden">
    <NavMenu />
    <main class="w-full p-6 pt-10">
        @Body
    </main>
</div>
