@using KInspector.Blazor.Components.Modules
@using KInspector.Core.Models
@using KInspector.Core.Modules
@using KInspector.Core.Services.Interfaces
@inject IModuleService moduleService

<div id="module-@Report!.Codename" class="module-accordion" data-accordion="collapse">
    <ModuleHeader Module="Report" Results="Results" />
    <ModuleBody Results="Results" Module="Report" RunHandler="RunReport" />
</div>

@code {
    [Parameter, EditorRequired]
    public IReport? Report { get; set; }

    public ModuleResults? Results { get; set; }

    private void RunReport()
    {
        Results = moduleService.GetReportResults(Report!);
    }
}
