@page "/actions"
@inherits LayoutComponentBase

<PageTitle>Actions</PageTitle>

<h1 class="mb-8 text-4xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white md:text-5xl lg:text-6xl">Actions</h1>