@page "/"
@page "/instances"
@using KInspector.Core.Models
@using KInspector.Core.Services.Interfaces
@inherits LayoutComponentBase
@inject IConfigService configService

<PageTitle>Instances</PageTitle>

@{
    var instances = configService.GetConfig().Instances;
}

<section class="w-screen">
    <div class="w-1/3 mx-auto">
        <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl">Connect to an instance</h1>
        <p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl">
            Click "Connect" to begin using KInspector on an existing Kentico 12 or 13 instance. Or, click the orange tile to register a new instance and connect to it.
        </p>
    </div>
</section>

<section class="w-full h-full scrollbar overflow-auto">
    <div class="flex items-center justify-center py-8 px-4 mx-auto lg:py-16 lg:px-6 space-y-8 lg:space-y-0">
        <!-- New instance card -->
        <a href="#">
            <div class="flex flex-col items-center p-6 mx-2 max-w-lg text-center text-gray-900 bg-orange-400 rounded-lg border border-gray-500 shadow hover:shadow-lg xl:p-8">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                </svg>
                <p class="font-light sm:text-lg">Add new instance</p>
            </div>
        </a>

        @foreach(var instance in instances)
        {
            <InstanceCard Instance="@instance" />
        }
    </div>
</section>
