@page "/reports"
@using KInspector.Core.Services.Interfaces
@inherits LayoutComponentBase
@inject IModuleService moduleService
@inject IConfigService configService
@inject IJSRuntime js

<PageTitle>Reports</PageTitle>

@{
    var currentInstance = configService.GetCurrentInstance();
    if (currentInstance is null)
    {
        throw new InvalidOperationException("An instance must be connected.");
    }

    var reports = moduleService.GetReports();
}

<h1 class="mb-8 text-4xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white md:text-5xl lg:text-6xl">Reports</h1>

<div class="px-4 mx-auto space-y-8 lg:space-y-0">
    @foreach (var report in reports)
    {
        <ReportAccordion Report="@report" />
    }
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool isFirstRender)
    {
        if (isFirstRender)
        {
            await js.InvokeVoidAsync("window.initializeFlowbite");
        }
    }
}
