@using System.Reflection
@using Newtonsoft.Json.Linq

<div class="max-w-sm">
    @foreach (var prop in OptionsType!.GetProperties())
    {
        <div class="mb-5">
            <label for="@prop.Name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">@prop.Name</label>
            <input type="text" id="@prop.Name"
                @oninput="(e) => SetValue(prop.Name, e.Value)"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
        </div>
    }
</div>

@code {
    private JObject? options;

    [Parameter, EditorRequired]
    public Type? OptionsType { get; set; }

    public JObject Options
    {
        get
        {
            if (options is null)
            {
                options = new JObject();
            }

            return options;
        }
    }

    private void SetValue(string propName, object? value)
    {
        if (value is null)
        {
            return;
        }

        Options[propName] = JToken.FromObject(value);
    }
}